<div fxLayout='column'>
    <mat-dialog-content [formGroup]="form" fxLayout='column'>
        <mat-card *ngIf="isAdd" fxLayout='column'>
            <mat-card-content fxLayout='column'>
                <mat-form-field fxLayout='column' appearance=outline>
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Amount" type="number" #amount formControlName="amount">
                </mat-form-field>
                <mat-form-field fxLayout='column' appearance=outline>
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="date" placeholder="Date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker> 
                </mat-form-field>
                <button mat-raised-button color='accent' (click)="form.valid && addAReturn()">Add</button>
            </mat-card-content>
        </mat-card>
        <div fxLayout='column'>
            <table *ngIf="isHistory" mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount | currency:'INR'}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element">
                        <div style="justify-content: space-between;"> <span>{{element.date | date :"dd MMM"}}</span>
                            <span>
                                <button mat-icon-button color='warn' *ngIf="isAdd" (click)='deletePayment(element)'>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </span>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions fxFlexAlign='center'>
        <button mat-raised-button color="primary" *ngIf="isAdd" (click)="save()">Save</button>
        <button mat-stroked-button (click)="dialogRef.close(borrower)">Close</button>
    </mat-dialog-actions>
</div>