<div fxLayout="column">
    <label fxFlexAlign='center' class="title">Transactions</label>
    <div style="border-radius: 5px;">
        <form [formGroup]="form" fxLayout='column'>
            <mat-button-toggle-group formControlName="type" aria-label="Expense Type" fxLayout='row'
                fxFlexAlign='center' #type>
                <mat-button-toggle value="income">Income</mat-button-toggle>
                <mat-button-toggle value="expense">Expense</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-error fxFlexAlign='center' *ngIf="form.controls['type'].invalid">Please select a type</mat-error>
            <mat-form-field appearance="outline">
                <mat-label>Account</mat-label>
                <mat-select formControlName="account">
                    <mat-option *ngFor="let account of accounts" [value]="account">
                        {{account.bank + "[" +account.accountNumber+"]"}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['account'].invalid">Please select an account</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput type='number' formControlName="amount" placeholder="Amount">
                <mat-error *ngIf="form.controls['amount'].invalid">Please enter valid amount</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type='text' formControlName="name" placeholder="Name">
                <mat-error *ngIf="form.controls['name'].invalid">Please enter a title</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type='text' formControlName="description" placeholder="Description">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="date" placeholder="Date" formControlName="transactionDate">
                <mat-datepicker-toggle matSuffix [for]="date">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #date [disabled]=false></mat-datepicker>
                <mat-error *ngIf="form.controls['transactionDate'].invalid">Please pick a date</mat-error>
            </mat-form-field>
            <div fxLayout='row' style="justify-content: space-between; padding: 10px;"><button mat-raised-button
                    type='button' [disabled]='!form.valid' (click)='form.valid && save()'>{{btnName}}</button>
                <button mat-raised-button type='reset'>RESET</button>
            </div>
        </form>
    </div>
    <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"
        style="margin-top: 10px;">
        <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank </th>
            <td mat-cell *matCellDef="let element">{{element.account.bank}} </td>
            <td mat-footer-cell *matFooterCellDef ngClass='total'><div style="width: 100%;"><label style="color: green;">{{getTotalIncome() | currency:'₹'}}</label>
            </div> </td>
        </ng-container>
        <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element">{{element.transactionDate | date :"MMM dd"}} </td>
            <td mat-footer-cell *matFooterCellDef ngClass='total'> <div><label style="color: #FF1744;">{{getTotalExpense() | currency:'₹'}} </label></div> </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let element"><label
                    [ngClass]="{'income': element.type == 'income', 'expense': element.type != 'income'}">
                    {{element.amount|currency:'₹'}}</label> </td>
            <td mat-footer-cell *matFooterCellDef ngClass='total'>
                <!-- <div style="width: 100%;"><label style="color: green;">{{getTotalIncome() | currency:'₹'}}</label>
                </div> -->
                <!-- <div><label style="color: #FF1744;">{{getTotalExpense() | currency:'₹'}} </label></div> -->
                <div><label style="color: blue;">{{getBalance() | currency:'₹'}} </label></div>
            </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="3">
                <div class="element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                    <div style="padding: 0.3em;">
                        <table>
                            <tr style="height: fit-content;">
                                <td>Title</td>
                                <td>
                                    <label>:{{row.name}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>
                                    <label>:{{row.amount | currency:'₹'}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Account</td>
                                <td>
                                    <label>:{{row.account.bank}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Account Number</td>
                                <td>
                                    <label>:{{row.account.accountNumber}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>
                                    <label>:{{row.description}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td style="text-overflow: ellipsis;">
                                    <label>:{{row.transactionDate | date :"dd/MMM/yyyy"}}</label>
                                </td>
                            </tr>
                        </table>
                        <div fxLayout=column style="justify-content: space-between; padding: 5px">
                            <!-- <button mat-stroked-button color='accent' (click)='editRow(row)'>
                                Edit
                            </button> -->
                            <button mat-stroked-button color='warn' fxFlexAlign='end' (click)='deleteRow(row)'>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>