<div fxLayout='column'>
    <mat-dialog-content fxLayout='column' [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bank">
              <mat-option *ngFor="let bank of banks" [value]="bank.bankCode">
                {{bank.bankName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance='fill'>
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="Account Number" formControlName="accNumber">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Account type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of accountTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Account Balance</mat-label>
            <input matInput placeholder="Account balance" formControlName="balance">
        </mat-form-field>
        <label style="margin-bottom: 10px;">Is account active? </label>
        <mat-radio-group aria-label="Is Active" formControlName="isActive">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button style="margin-left: 10px;" value="false">No</mat-radio-button>
        </mat-radio-group>
    </mat-dialog-content>
    
    <mat-dialog-actions fxFlexAlign='center'>
        <button mat-raised-button color='primary' (click)="form.valid && save()">Save</button>
        <button mat-stroked-button (click)="dialogRef.close()">Close</button>
    </mat-dialog-actions>
</div>