<div fxFlex fxLayout="column" fxLayoutGap="0px" class='main-div'>
    <label fxFlexAlign='center' style="padding-top: 10px; font-size: 30px;">Sign in</label>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" style="padding: 10px;">
            <div fxLayoutAlign="center" style="margin-top: 10px;">
                <mat-form-field style="width:80%" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput>
                    <mat-error *ngIf="form.controls['username'].invalid">Please enter a valid username</mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center" style="margin-top:10px">
                <mat-form-field style="width:80%" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput>
                    <mat-error *ngIf="form.controls['password'].invalid">Please enter a valid password</mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center" style="margin-top:10px">
                <button [disabled]="!form.valid || formSubmitted" type="submit" mat-raised-button
                    color="primary">Login</button>
            </div>
        </form>
</div>