<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" type="number" formControlName="amount">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="date" placeholder="Date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions style="align-content: center;">
    <div>
        <button mat-raised-button color='primary' (click)="form.valid && save()">Save</button>
        <button mat-stroked-button (click)="close()">Close</button>
    </div>
</mat-dialog-actions>