<div fxLayout="column">
    <label fxFlexAlign='center' class="title">Accounts</label>
    <button mat-raised-button color='primary' fxLayout="column" fxFlexAlign='end' (click)='addAccount()'>ADD</button>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" style="margin-top: 10px;">
        <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Bank </th>
            <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
            <td mat-footer-cell *matFooterCellDef ngClass='total'> Total </td>
        </ng-container>
        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element">
                {{element.balance | currency:'₹'}}
            </td>
            <td mat-footer-cell *matFooterCellDef ngClass='total'> {{getTotal() | currency:'₹'}}</td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="2">
                <div class="element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                    <div style="padding: 0.3em;" fxLayout='column'>
                        <table>
                            <tr style="height: fit-content;">
                                <td>Bank Name</td>
                                <td>
                                    <label>:{{row.bank}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Account Type</td>
                                <td>
                                    <label>:{{row.type }}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Account Number</td>
                                <td>
                                    <label>:{{row.accountNumber}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Balance</td>
                                <td style="text-overflow: ellipsis;">
                                    <label>:{{row.balance | currency:'₹ '}}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Is Active</td>
                                <td style="text-overflow: ellipsis;">
                                    <label>:{{row.isActive==1?"Yes":"No"}}</label>
                                </td>
                            </tr>
                        </table>
                        <div fxLayout=row style="justify-content: space-between; padding: 5px">
                            <button mat-stroked-button color='accent' (click)='editAccount(row)'>
                                Edit
                            </button>
                            <button mat-stroked-button color='warn' (click)='deleteAccount(row)'>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>