<div fxLayout='column'>
    <mat-toolbar color='primary' class='tool-bar' fxFlexAlign='center'>
        <mat-toolbar-row>
            <span>
                <button *ngIf='checkIfUserLoggedIn()' type="button" aria-label="Toggle sidenav" mat-icon-button
                    (click)="drawer.toggle()" matTooltip="Menu" matTooltipHideDelay="100">
                    <mat-icon>menu</mat-icon>
                </button>
            </span>
            <span ></span>
            <label class='toolbar-spacer'>Money manager</label>
            <span *ngIf='checkIfUserLoggedIn()' matTooltip="Logged in as {{username}}" matTooltipHideDelay="100">
                <button mat-button [matMenuTriggerFor]="logoutBtn">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #logoutBtn="matMenu">
                    <button mat-menu-item>{{username}}</button>
                    <button mat-menu-item (click)="logout()">Sign out</button>
                </mat-menu>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class='tool-bar' fxFlexAlign='center'>
        <mat-sidenav #drawer closed role="navigation">
            <mat-nav-list #menus>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink='/home' class='menu'>Dashboard</mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink='/accounts' class='menu'>Bank Accounts</mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink='/transactions' class='menu'>Transactions</mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink='/loans' class='menu'>Loans</mat-list-item>
                <mat-list-item [routerLinkActive]="['is-active']" routerLink='/borrowers' class='menu'>Borrowers</mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>