/* You can add global styles to this file, and also import other style files */

/* @import '@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '@angular/material/prebuilt-themes/deeppurple-ambe.css'; */

html, body {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title{
  font-weight: 500;
  font-size: x-large;
  margin-bottom: 10px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    border-radius: 1em;
    table-layout: fixed;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Courier New', Courier, monospace;
}
th.mat-sort-header-sorted {
  color: black;
}

.total {
    font-weight: bolder;
    /* font-family: 'Courier New', Courier, monospace; */
}

tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }

/* 
.menu:hover{
    padding-left: 0.2em;
}

.menu-icon {
    padding: 0 15px;
    padding-left: 0.2em;
}




*/