@import './scss/_variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
font-size: larger; 
font-weight: bolder;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

table {
  /* width: 100%; */
  border-radius: 1em;
  table-layout: fixed;
  background-color: cadetblue;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Courier New', Courier, monospace;
}
th.mat-sort-header-sorted {
color: black;
}

.total {
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace; 
}

