<h2>Borrower Details</h2>
<button mat-raised-button (click)='addBorrower()'>ADD</button>
<span *ngIf='deleteMessage'>{{deleteMessage}}</span>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container  matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" style="max-width: 70px;"> {{element.name}} </td>
        <td mat-footer-cell *matFooterCellDef ngClass='total'> Total </td>
    </ng-container>
    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color='primary' (click)='editBorrower(element)'>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color='warn' (click)='deleteBorrower(element)'>
                <mat-icon>delete</mat-icon>
            </button>
        </td> 
        <td mat-footer-cell *matFooterCellDef ngClass='total'> {{getTotal() | currency:'₹'}}</td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="2">
            <div class="element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                <div style="padding: 0.3em;" >
                    <h1>{{row.amount}}</h1>
                    <button mat-stroked-button color="primary" (click)="showTransactions(row)">Click</button>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>