<div fxLayout='column'>
        
    <div style="max-width: fit-content;" fxLayout='column' fxFlexAlign='center'>
        <div class="title" fxFlexAlign='center'>
            <strong>Dashboard</strong>
        </div>
        <mat-card routerLink='/accounts' fxLayout='column' fxFlexAlign=center>
            <mat-card-content fxFlexAlign=center>
                <div>Bank Balance</div>
                <h1><strong>{{totalBankBalance | currency:'INR'}}</strong></h1>
            </mat-card-content>
        </mat-card>
        <mat-card routerLink='/loans' fxLayout='column' fxFlexAlign=center>
            <mat-card-content fxFlexAlign=center>
                <div>Loans</div>
                <h1><strong>{{totalLoanAmount | currency:'INR'}}</strong></h1>
            </mat-card-content>
        </mat-card>
        <mat-card routerLink='/borrowers' fxLayout='column' fxFlexAlign=center>
            <mat-card-content fxFlexAlign=center>
                <div>Given</div>
                <h1><strong>{{totalGivenAmount | currency:'INR'}}</strong></h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>