mat-card {
    max-width: 50%;
    width: 50%; 
    margin-top: 10px;
}
mat-card-content{
    padding: 25px;
    font-family: 'Verdana';
    font-weight: bolder;
    background-color: lightgreen;
    border-radius: 25px;
    font-variant-numeric: oldstyle-nums;
    /* , 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
span {
    padding: 25px;
}